.validate {
    margin-bottom: 10%;
    min-height: 300px;
    margin-top: 2%;
}

.w3-card-4 {
    height: 300px;
}

.w3-third {
    margin-bottom: 30px;
}

img {
    margin-bottom: inherit;
    max-width: 230px;
    width: 100%;
}

button {
    cursor: default;
}

.allgame {
    left: 440px;
    position: relative;
}

.ico {
    margin-top: 70px;
    height: 50px;
    font-size: 50px;
}